# Python cache
__pycache__/
*.pyc

# Dataset (do NOT upload)
data/frames/
data/videos/
*.mp4
*.jpg

# Ignore ALL png files
*.png

# But allow the example output image
!results/
!results/heatmap.png

# Generated outputs
*.npy
*.csv
*.json

# Environment
myenv/
.env